[package]
name = "token_sender"
version = "0.5.1"
license-file = "LICENSE"
cairo_version = "2.11.4"
license = "MIT"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifes

[[target.starknet-contract]]
sierra = true
casm = false


[dependencies]
openzeppelin_token = "2.0.0"
starknet = "2.13.0"

[dev-dependencies]
snforge_std = "0.55.0"

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
inlining-strategy = "avoid"

[profile.release.cairo]
inlining-strategy = "default"


[[tool.snforge.fork]]
name = "SEPOLIA_LATEST"
url = "https://api.zan.top/public/starknet-sepolia/rpc/v0_10"
block_id.number = "5300193"

[tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]
