name: snforge test
on:
  push:
  pull_request:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.8.5"
      - uses: foundry-rs/setup-snfoundry@v3
        with:
          starknet-foundry-version: "0.33.0"
      - run: snforge test
