name: snforge test
on:
  push:
  pull_request:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.13.1"
          scarb-lock: ./Scarb.lock

      - uses: foundry-rs/setup-snfoundry@v4
        with:
          starknet-foundry-version: "0.52.0"

      - run: snforge test
